<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeedGuard"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SeedGuard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainMenu"
            android:exported="true"
            android:label="Main Menu"
            android:theme="@style/Theme.SeedGuard"/>

        <activity
            android:name=".SignInActivity"
            android:exported="true"
            android:label="Sign In"
            android:theme="@style/Theme.SeedGuard"/>

        <activity
            android:name=".SeedPhraseActivity"
            android:exported="true"
            android:label="Seed Phrase Entry"
            android:theme="@style/Theme.SeedGuard"/>
        <activity
            android:name=".seedphraseadapter"
            android:exported="true"
            android:label="Seed Phrase adapter"
            android:theme="@style/Theme.SeedGuard"/>
        <activity
            android:name=".AddNewSeedPhraseActivity"
            android:exported="true"
            android:label="Add new Seed Phrase Entry"
            android:theme="@style/Theme.SeedGuard"/>
        <activity
            android:name=".ViewWalletsActivity"
            android:exported="true"
            android:label="Add new Seed Phrase Entry"
            android:theme="@style/Theme.SeedGuard"/>
        <activity
            android:name=".ViewSeedPhrasesActivity"
            android:exported="true"
            android:label="Add new Seed Phrase Entry"
            android:theme="@style/Theme.SeedGuard"/>
    </application>


</manifest>